# Hide specific dot files
.bash_logout
.viminfo
.zsh_history
.bashrc
.bash_profile
.gitconfig
.profile
.nanorc

# Hide spotify user data
.config/spotify/Users/

# Hide the .gitignore file itself
.gitignore
